@import "../../_styles.scss";

.framework {
    background-color: $backgroundColor;

    &__item {
        display: flex;
        background-color: $backgroundFWColor;
        margin: 0 120px 50px 120px;
        border-radius: 10px;

        &-description {
            display: flex;
            justify-content: space-between;
        }

        &:last-child {
            margin: 0 120px 0 120px;
        }
    }
}
