@import "../../styles";

.login-form {
    background-color: $backgroundContactUsColor;

    &__content {
        margin-top: 60px;
        padding-bottom: 60px;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }
}

.submit-button {
    width: 200px;
}