@import "../../styles";

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: $headerColor;

    &__nav-bar {
        display: flex;
        align-items: center;
    }
}