.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 20px;

    &__buttons-block {
        display: flex;
        justify-content:flex-start;
    }
}