@import "../../_styles.scss";

.application {
    &__item {
        &-label {
            max-width: 227px;
            background-color: $backgroundAppLabelColor;
            color: $textColor;
            display: flex;
            justify-content: center;
        }
    }
}