@import "../../_styles.scss";

.application {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-label {
            width: 70%;
            background-color: $backgroundAppLabelColor;
            color: $textColor;
            display: flex;
            justify-content: center;
        }

        &-image {
            width: 70%;
        }
    }
}