@import "../../styles.scss";

.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 250px 0;
    background: url("../../images/banner.svg");

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        color: $textColor;
        font-family: "Gothic", sans-serif;
        font-weight: 700;
        font-size: 70px;
        line-height: 87.5px;

        &::after {
            content: ' ';
            display: block;
            width: 0;
            height: 2px;
            background: $pinkGradient;
            transition: width 310ms ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }

    span {
        display: flex;
        justify-content: center;
        color: $textColor;
        font-family: "Gothic", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
    }
}