$footerColor: #3D3D3D;
$textColor: white;
$navBarTextColor: #3D3D3D;
$backgroundColor: #F5F7FA;
$backgroundFWColor: white;
$backgroundAppLabelColor: #3D3D3D;

$orangeGradient: #ee7752;
$pinkGradient: #e73c7e;
$blueGradient: #23a6d5;
$greenGradient: #23d5ab;